<?xml version="1.0" encoding="UTF-8"?>
<?define ProductName="Jeeves.Host"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Product Id="*" Name="$(var.ProductName)" Language="1033" Version="1.0.0.0" Manufacturer="Jeeves" UpgradeCode="fec365a6-78b4-46fc-8ba1-bbea556e9c2d">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <PropertyRef Id="WIX_IS_NETFRAMEWORK_452_OR_LATER_INSTALLED" />

    <Condition Message="This application requires .NET Framework 4.5.2. Please install the .NET 4.5.2 Framework then run this installer again.">
      <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_452_OR_LATER_INSTALLED]]>
    </Condition>

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="ApplicationContent" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="$(var.ProductName)" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ProductComponent" Guid="8f312b3d-4846-fead-fa01-f54faecb59e2">
        <File Source="$(var.Jeeves.Host.TargetDir)\Jeeves.Host.exe" KeyPath="yes" />
        <File Source="$(var.Jeeves.Host.TargetDir)\Jeeves.Host.exe.config" KeyPath="no" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
