<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Jeeves.Host.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <Jeeves.Host.Properties.Settings>
            <setting name="BaseUrl" serializeAs="String">
                <value>http://localhost:9042/jeeves/</value>
            </setting>
            <setting name="UseHttps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseAuthentication" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SeqUrl" serializeAs="String">
                <value>http://127.0.0.1:5341</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>C:\ProgramData\Jeeves\Jeeves.sqlite</value>
            </setting>
            <setting name="SqlScriptsFolder" serializeAs="String">
                <value />
            </setting>
        </Jeeves.Host.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.105.2" newVersion="1.0.105.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>